@import "normalize.css";
@import "font.css";

$baseline: 22px;

/* LAYOUT */

hr{
  height:1px;
  border:none;
  background:#dedede;
}

#main{
  max-width:960px;
  margin:0 auto;
  padding:72px 24px 48px 24px;  
}

header{
  position:fixed;
  width:100%;
  height:$baseline * 2;
  padding:11px;
  background-color:#E6E7CD;
}

span.scopes, span#mobile-menu{
  position:relative;

  nav{
    position: absolute;
    width: 100px;
    height: auto;
    max-width: 100px;
    padding: 8px;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 2px;
    text-align:left;
    font-size:90%;
    display:none;
    a{display:block;margin:8px 0;}
    &.open{ display:block;}
  }
}

/* TYPO */
body{
  font-size: 0.875em; //16px 
}
input,textarea,p{
  font-size: 1em;
}
body,input,textarea,p{
  font-family: 'Libre Baskerville', serif;
  font-weight:400;
  font-style:normal;
  color:#333;
  
	line-height: $baseline; 
  text-align:center;
}
p{
  margin-bottom: $baseline;   
}
a{
  font-family: 'Libre Baskerville', serif;  
  font-weight:700;
  text-decoration:none;
  margin:0 4px;
  color: #333;
}
h1,h2,h3,h4,h5,h6{
  font-family: "EB Garamond", serif;
  font-weight:400;
  font-style:normal;  
  text-align:center;
	line-height: $baseline*2; 
	margin-bottom: $baseline;   
}
h1 { 
	font-size: 2.5em; //40px 
}
h2{
	font-size: 2.25em; //36px 
}
h3{
  font-size: 1.75em; //28px
}
h4,h5,h6{
  line-height: $baseline;
  margin-bottom: $baseline / 2;
}

/* FORMS */
::-webkit-input-placeholder { 
  color:#333;
}
:-moz-placeholder {
  color:#333;
}
::-moz-placeholder {
  color:#333;
}
:-ms-input-placeholder { 
  color:#333;
}
textarea{
  max-width:480px;
  width:80%;
  border:none;
//  border-bottom:1px dashed #dedede;  
  outline:none;
  resize: none;
  padding: $baseline / 4;
	margin-bottom: $baseline / 2;   
}
input{
  border:none;
//  border-bottom:1px dashed #dedede;
  padding: $baseline / 4;  
	margin-bottom: $baseline / 2;   
  outline:none;  
}
button{
  border:none;
  background:#E6E7CD;
  padding:8px;  
  &.delete{
    background:#ff6600;
  }
  border-radius:2px;
}
.error{
  background:#D2ABAF;
  border:none;
  color:red;
}
.error_container{
  color:red;
}

/* LISTS */
i.sep{
  color:#dedede;
  display:block;
  margin:$baseline;
  font-style:normal;
}
.collection{
  list-style:none;
  max-width:480px;
  width:80%;  
  margin:0 auto;
  padding:0;  
  li{
    h2 small a{ 
      color: #999; 
      font-style:italic;
      font-size:80%;
    }
    i.sep{
      margin:$baseline * 2 0;
    }
  }
}
.pagination{
  padding:0;
  list-style:none;
  li{
    margin:0;
    display:inline;
    a{
      text-decoration:underline;
      &.current{
        text-decoration:none;
      }
    }
  }
}

/* HELPERS */
.left{
  float:left;
}
.right{
  float:right;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* FIXES */
.skiptranslate iframe{
  box-shadow:none !important;
  top:44px !important;
}
#google_translate_element{
  max-width:100%;
  overflow:hidden;
  margin-top:$baseline * 4;
}

#mobile-menu{display:none;}

@media all and (max-width: 568px) {
  .skiptranslate iframe{display:none !important;}
  #desktop-menu{display:none;}  
  #mobile-menu{
    display:inline-block;
    nav{
      background: lighten(#E6E7CD,10) !important;
      position: fixed !important;
      left: 0 !important;
      top: 44px !important;
      border-top: none !important;
      width: 100% !important;
      max-width: 100% !important;
      overflow: auto !important;
      max-height: 100% !important;
    }
  }
  body{font-size:0.8em;}
  ul.collection{
    max-width:100%;
    width:100%;      
  }
  span.time{display:block;}
}