<h1>Create a New Proposal</h1>
<p>&#9813;</p>
<form id="new_proposal" name="new_proposal" method="post" action="/proposals">
  <p><small>*All fields are mandatory</small></p>  
  <p>
    <label for="downvoting_enabled">
      Downvoting Enabled 
      <input type="checkbox" id="proposal_downvoting_enabled" name="downvoting_enabled" checked value="true" style="position: relative;top: -2px;"/> 
    </label>
    <i class="sep">&#10020;</i>        
  </p>
    
  <p>
    <textarea id="proposal_subject" name="subject" placeholder="Write your brief proposal here for what you want to open for voting"></textarea>
    <i class="sep">&#10020;</i>        
  </p>  
    
  <p>
    <textarea id="proposal_up_tweet" name="up_tweet" placeholder="Write a tweet here for up votes"></textarea>
    <i class="sep">&#10020;</i>        
  </p>    
    
  <p>
    <textarea id="proposal_down_tweet" name="down_tweet" placeholder="Write a tweet for down votes"></textarea>
    <i class="sep">&#10020;</i>        
  </p>    
    
  <p>
    <label for="started_at">When voting starts?</label><br/><br/>
    <input type="date" name="started_at" id="proposal_started_at" placeholder="dd/mm/yyyy" />
    <i class="sep">&#10020;</i>
  </p>          
      
  <p>
    <label for="finished_at">When voting ends?</label><br/><br/>
    <input type="date" name="finished_at" id="proposal_finished_at" placeholder="dd/mm/yyyy" />
    <i class="sep">&#10020;</i>        
  </p>          
  
  <p>
    <label>What's your vote?</label><br/><br/>
    <label for="proposal_owner_vote_up"><input type="radio" name="owner_vote" id="proposal_owner_vote_up" checked value="up" /> Up</label>
    <label for="proposal_owner_vote_down"><input type="radio" name="owner_vote" id="proposal_owner_vote_down" value="down" /> Down</label>   
    <i class="sep">&#10020;</i>        
  </p>            
    
  <p>
    <button>Submit</button>
  </p>  
</form>